<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>User Create</title>
    <link rel="stylesheet" href="/static/plugin/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/plugin/bootstrap/bootstrap-theme.min.css">
    <script src="/static/plugin/bootstrap/bootstrap.min.js"></script>
    <!--自己定义的css和js文件的引用要放在bootstrap的后面，防止产生覆盖-->
</head>

<body>
    <!--1、bootstrap利用栅栏对div进行响应式处理-->
    <!-- <header>
    <div class="col-lg-3 col-sm-4 col-xs-12">div-lg-1</div>
    <div class="col-lg-3 col-sm-4 col-xs-12">div-lg-2</div>
    <div class="col-lg-3 col-sm-4 col-xs-12">div-lg-3</div>
    <div class="col-lg-3 col-sm-4 col-xs-12">div-lg-4</div>
    </header> -->
    <!--2、利用bootstrap美化表格-->

    <h2 style="text-align: center;margin-top: 180px;">添加用户</h2>
    <form class="form-horizontal" action="{% url 'user:save' %}" method="POST" style="margin-top: 20px;">
        {% csrf_token %}
            {% if errors.name %}
             <div class="form-group" style="margin-bottom: 0px;">
              <label class="col-sm-5 control-label"></label>
              <div class="col-sm-2">
                <p class="form-control-static" style="color: red;">{{ errors.name.0 }}</p>
              </div>
             </div>
           {% endif %}
            <div class="form-group">
              <label for="inputName" class="col-sm-5 control-label">用户</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inputName" placeholder="输入用户名" name="name" value="{{ name }}">
              </div>
            </div>
            {% if errors.password %}
             <div class="form-group" style="margin-bottom: 0px;">
              <label class="col-sm-5 control-label"></label>
              <div class="col-sm-2">
                <p class="form-control-static" style="color: red;">{{ errors.password.0 }}</p>
              </div>
             </div>
           {% endif %}
            <div class="form-group">
              <label for="inputPassword" class="col-sm-5 control-label">输入密码</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inputPassword" placeholder="输入密码" name="password" value="{{ password }}">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword2" class="col-sm-5 control-label">输入密码Again</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inputPassword2" placeholder="输入密码Again" name="password2">
              </div>
            </div>
            {% if errors.age %}
             <div class="form-group" style="margin-bottom: 0px;">
              <label class="col-sm-5 control-label"></label>
              <div class="col-sm-2">
                <p class="form-control-static" style="color: red;">{{ errors.age.0 }}</p>
              </div>
             </div>
           {% endif %}
            <div class="form-group">
              <label for="inputAge" class="col-sm-5 control-label">输入Age</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inputAge" placeholder="输入Age" name="age" value="{{ age }}">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail" class="col-sm-5 control-label">输入Email</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inputEmail" placeholder="输入Email" name="email" value="{{ email }}">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPhone" class="col-sm-5 control-label">输入Phone</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inputPhone" placeholder="输入Phone" name="telephone" value="{{ telephone }}">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-5 col-sm-2">
                <button type="submit" class="btn btn-primary btn-block">Create</button>
              </div>
            </div>


    </form>

</body>

</html>